body {
  background: black;
}

.strengthBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
.strengthBar-message {
  padding-left: 0.8rem;
  font-size: 1.2rem;
  font-style: italic;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Start invisible */
  visibility: hidden; /* Start without taking space */
}
.strengthBar-message-loaded {
  opacity: 1;
  visibility: visible;
}
.strengthBar-title {
  display: flex;
  align-items: center;
}
.strengthBar-title a {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.strengthBar h1 {
  font-size: 2.4em;
  color: #6fc1b8;
}
.strengthBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.strengthBar nav ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.strengthBar nav ul li button {
  background: none;
  border: 1px solid #6fa8c0;
  padding: 0.5rem;
  color: white;
}

.simple-form {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 27rem;
  margin: 20px auto;
}
.simple-form .top-container {
  background: #ffffff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.simple-form .top-container .reps-display,
.simple-form .top-container .weight-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.simple-form .top-container .reps-display {
  flex: 0 0 33%;
  max-width: 33%;
}
.simple-form .top-container .reps-display .display {
  overflow-x: auto;
  white-space: nowrap;
}
.simple-form .top-container .weight-display {
  flex: 1;
  max-width: 61%;
}
.simple-form .top-container .weight-display .display {
  overflow-x: auto;
  white-space: nowrap;
}
.simple-form .top-container .heading {
  text-align: center;
  margin-top: 1rem;
}
.simple-form .top-container .heading:first-of-type {
  margin-top: 0;
}
.simple-form .top-container .heading p {
  font-size: 1.7rem;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.simple-form .top-container .display {
  background: slategray;
  border-radius: 5px;
  font-size: 2.7em;
  text-align: right;
  letter-spacing: 1px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: ghostwhite;
  margin-top: 0.3rem;
  font-family: monospace;
  padding: 10px;
}
.simple-form .top-container .display:first-of-type {
  margin-bottom: 1rem;
}
.simple-form .top-container .display.selected {
  border: 1px solid cornflowerblue;
  box-shadow: 0 0 7px cornflowerblue;
  padding: 9px;
}
.simple-form .control-buttons {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 0 3.2rem;
}
.simple-form .control-buttons button {
  border-radius: 1rem;
  border: 1px solid lightgray;
  padding: 0.125rem 0.5rem;
  font-size: 1.3rem;
  color: slategray;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(100, 100, 100, 0.1));
}
.simple-form .bottom-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(100, 100, 100, 0.1));
  padding: 0.6rem 2.1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.simple-form .bottom-container .buttons {
  padding: 0 1.1rem;
}
.simple-form .bottom-container .buttons .row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.simple-form .bottom-container .buttons .row:last-of-type button {
  max-width: 6.25rem;
}
.simple-form .bottom-container .buttons .row button {
  padding: 0.6rem 2rem;
  margin: 0 0.6rem;
}
.simple-form .bottom-container .buttons .row button:nth-child(1) {
  margin-left: 0;
}
.simple-form .bottom-container .buttons .row button:nth-child(3) {
  margin-right: 0;
}
.simple-form .submit-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.simple-form .aqua-button {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 125px;
  box-shadow: inset 0 13px 25px rgba(255, 255, 255, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2), 0 10px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  position: relative;
  transition: all ease 0.3s;
  width: 100%;
}
.simple-form .aqua-button:active {
  box-shadow: inset 0 13px 25px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(4px) scale(0.98);
}
.simple-form .aqua-button:active:before {
  top: 3px;
}
.simple-form .aqua-button:before {
  background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50px;
  left: 4%;
  position: absolute;
  top: 1px;
  transition: all ease 0.3s;
  width: 92%;
}
.simple-form .aqua-button-confirm {
  background: #4a90e2;
  border-color: #3672b6;
  color: #fff;
}
.simple-form .aqua-button-cancel {
  background: #d0d0d0;
  border-color: #b8b8b8;
  color: #6f6f6f;
}
.simple-form .default-weight-form {
  display: none;
}

.tweets {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  width: 411px;
  font-family: "Source Code Pro", monospace;
}
.tweets .tweet {
  display: flex;
  background: linear-gradient(to bottom, #ffffff, #f6f6f6);
  border: 1px solid #ddd;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background: white;
}
.tweets .tweet .tweet-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tweets .tweet .tweet-col-a {
  flex: 0 0 auto;
  padding: 0.6rem;
}
.tweets .tweet .tweet-col-a .tweet-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  font-size: 24px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}
.tweets .tweet .tweet-col-b {
  flex: 1;
  padding: 0.6rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.tweets .tweet .tweet-col-b p:first-of-type {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0;
  color: black;
}
.tweets .tweet .tweet-col-b p {
  padding: 0.5rem 0;
  color: slategrey;
  font-size: 1.1rem;
}

.aqua-titlebar {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
  border-radius: 12px 12px 0 0;
}
.aqua-titlebar .titlebar-buttons {
  margin-right: 8px;
}
.aqua-titlebar .titlebar-buttons span {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.aqua-titlebar .titlebar-buttons span:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: 1;
}
.aqua-titlebar .titlebar-buttons span.close-button {
  background-color: #ff605c;
}
.aqua-titlebar .titlebar-buttons span.minimize-button {
  background-color: #ffbd44;
}
.aqua-titlebar .titlebar-buttons span.maximize-button {
  background-color: #00ca56;
}
.aqua-titlebar .title {
  flex-grow: 1;
  text-align: center;
}

@keyframes puffUp {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}
.puff-up {
  animation: puffUp 0.5s ease forwards;
}

.quad-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.quad-container .quad-item {
  flex-basis: 50%;
  flex-grow: 1;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid #ccc;
  position: relative;
}
.quad-container .quad-item:nth-of-type(odd) {
  border-right: none;
}
.quad-container .quad-item:nth-of-type(-n + 2) {
  border-bottom: none;
}
.quad-container .quad-item .badge {
  position: absolute;
  left: 1.1rem;
  top: 1.1rem;
  background-color: #007aff;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid #fff;
  background-image: linear-gradient(to bottom, #007aff, #0051a8);
}
.quad-container .quad-item .badge:after {
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.3), transparent);
}
.quad-container .quad-item .badge:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: inherit;
  z-index: -2;
  background: rgba(255, 255, 255, 0.1);
  background: radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.3), transparent);
}
.quad-container .quad-item .glossy-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  position: relative;
  overflow: hidden;
  padding: 15px 25px;
  background-color: green; /*for compatibility with older browsers*/
  background-image: linear-gradient(green, lightgreen);
  /* text styles */
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;
  cursor: pointer;
}
.quad-container .quad-item .glossy-circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}
.quad-container .quad-item .glossy-circle:active {
  box-shadow: 0 1px 2px -2px #333 inset;
  transform: translateY(2px);
}
.quad-container .quad-item .glossy-circle:hover {
  background: linear-gradient(#073, #0fa);
}
.quad-container .quad-item .glossy-circle .number {
  font-size: 5em;
  color: #333;
  z-index: 1;
}
.quad-container .quad-item .glossy-circle .label {
  font-size: 1em;
  color: #333;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 100vh;
  padding: 0 1rem;
}
.grid-container .grid-item {
  border: 1px solid #ccc;
  padding: 0;
  font-size: 24px;
  color: white;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid slategrey;
  font-family: "Nabla", sans-serif;
  background: none;
  z-index: 999;
}
#container .header .title {
  font-size: 24px;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.5px;
}
#container .header .coins-meter {
  display: flex;
  align-items: center;
  font-size: 18px;
  background: #191c26;
  padding: 3px 13px;
  border-radius: 21px;
  border: 1px solid #162330;
}
#container .header .coins-meter .coin-graphic {
  margin-right: 5px;
}
#container .header .coins-meter .coin-count {
  font-weight: 500;
}
#container .content {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  background-image: url("/images/body_torso_mobile.png");
  margin-top: -91px;
}
#container .content .clouds {
  top: 200px;
  left: 100px;
  position: fixed;
}
#container .content .clouds .cloud {
  height: 100px;
  width: 200px;
  background: #acdec7;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px, rgba(51, 51, 51, 0.6) 0 0 0 3px;
  font-family: "DotGothic16", sans-serif;
  color: #8FD1C9;
  align-items: center;
}
#container .content .clouds .cloud span {
  color: black;
  z-index: 999;
  font-size: 1.8rem;
}
#container .content .clouds .cloud:after {
  content: "";
  width: 200px;
  height: 80px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 40px;
  position: absolute;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
