body {
  background: #191e25;
}

.strengthBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}
.strengthBar-message {
  padding-left: 0.8rem;
  font-size: 1.2rem;
  font-style: italic;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Start invisible */
  visibility: hidden; /* Start without taking space */
}
.strengthBar-message-loaded {
  opacity: 1;
  visibility: visible;
}
.strengthBar-title {
  display: flex;
  align-items: center;
}
.strengthBar-title a {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.strengthBar h1 {
  font-size: 2.4em;
  color: #6fc1b8;
}
.strengthBar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.strengthBar nav ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.strengthBar nav ul li button {
  background: none;
  border: 1px solid #6fa8c0;
  padding: 0.5rem;
  color: white;
}

.simple-form {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 27rem;
  margin: 20px auto;
}
.simple-form .top-container {
  background: #ffffff;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.simple-form .top-container .heading {
  text-align: center;
  margin-top: 1rem;
}
.simple-form .top-container .heading:first-of-type {
  margin-top: 0;
}
.simple-form .top-container .heading p {
  font-size: 1.7rem;
  color: #333;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.simple-form .top-container .display {
  background: slategray;
  border-radius: 5px;
  font-size: 2.7em;
  text-align: right;
  letter-spacing: 1px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: ghostwhite;
  margin-top: 0.3rem;
  font-family: monospace;
  padding: 10px;
}
.simple-form .top-container .display:first-of-type {
  margin-bottom: 1rem;
}
.simple-form .top-container .display.selected {
  border: 1px solid OrangeRed;
  padding: 9px;
}
.simple-form .control-buttons {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 0 3.2rem;
}
.simple-form .control-buttons button {
  border-radius: 1rem;
  border: 1px solid lightgray;
  padding: 0.125rem 0.5rem;
  font-size: 1.3rem;
  color: slategray;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(100, 100, 100, 0.1));
}
.simple-form .bottom-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(100, 100, 100, 0.1));
  padding: 0.6rem 2.1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.simple-form .bottom-container .buttons {
  padding: 0 1.1rem;
}
.simple-form .bottom-container .buttons .row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.simple-form .bottom-container .buttons .row button {
  padding: 0.6rem 2rem;
  margin: 0 0.6rem;
}
.simple-form .bottom-container .buttons .row button:nth-child(1) {
  margin-left: 0;
}
.simple-form .bottom-container .buttons .row button:nth-child(3) {
  margin-right: 0;
}
.simple-form .submit-log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.simple-form .complete-set-button {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 125px;
  box-shadow: inset 0 13px 25px rgba(255, 255, 255, 0.5), 0 3px 5px rgba(0, 0, 0, 0.2), 0 10px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  position: relative;
  transition: all ease 0.3s;
  width: 100%;
}
.simple-form .complete-set-button:active {
  box-shadow: inset 0 13px 25px rgba(255, 255, 255, 0.5), 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(4px) scale(0.98);
}
.simple-form .complete-set-button:active:before {
  top: 3px;
}
.simple-form .complete-set-button:before {
  background: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50px;
  left: 4%;
  position: absolute;
  top: 1px;
  transition: all ease 0.3s;
  width: 92%;
}
.simple-form .complete-set-button-confirm {
  background: #4a90e2;
  border-color: #3672b6;
  color: #fff;
}
.simple-form .complete-set-button-cancel {
  background: #d0d0d0;
  border-color: #b8b8b8;
  color: #6f6f6f;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 100vh;
  padding: 0 1rem;
}
.grid-container .grid-item {
  border: 1px solid #ccc;
  padding: 0;
  font-size: 24px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
