@keyframes puffUp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

.puff-up {
  animation: puffUp 0.5s ease forwards;
}

.quad-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; // This should ensure the container takes the full width

  .quad-item {
    flex-basis: 50%; // This should take up 50% of the width of the flex container
    flex-grow: 1; // This allows the item to grow if necessary
    height: 50vh; // Adjust the height as needed
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; // Include padding and borders in the element's total width and height
    padding: 1rem; // Optional padding
    border: 1px solid #ccc; // Border for separation
    position: relative; // relatively position to allow for absolute positioning of the circle

    // Remove the doubled-up borders
    &:nth-of-type(odd) {
      // A and C
      border-right: none;
    }
    &:nth-of-type(-n + 2) {
      // A and B
      border-bottom: none;
    }

    .badge {
      position: absolute;
      right: 60px; // Position as needed
      top: 90px; // Position as needed
      background-color: #007aff; // Apple's blue color
      color: white;
      border-radius: 50%;
      width: 50px; // Adjust size as needed
      height: 50px; // Adjust size as needed
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif;
      font-size: 1em; // Adjust as needed
      font-weight: 600; // Medium to bold font weight
      text-align: center;
      line-height: 50px; // Center text vertically
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); // Smooth shadow
      border: 2px solid #fff; // Optional: adds a border for more definition

      // Smooth gradient background
      background-image: linear-gradient(to bottom, #007aff, #0051a8);

      // Inner shadow for inset effect (optional)
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border-radius: inherit; // Keep the rounded edges
        z-index: -1;
        background: rgba(255, 255, 255, 0.1);
        background: radial-gradient(
          circle at top right,
          rgba(255, 255, 255, 0.3),
          transparent
        );
      }

      // Subtle outer glow (optional)
      &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: inherit; // Keep the rounded edges
        z-index: -2;
        background: rgba(255, 255, 255, 0.1);
        background: radial-gradient(
          circle at bottom left,
          rgba(255, 255, 255, 0.3),
          transparent
        );
      }
    }

    .glossy-circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px; // Adjust size as needed
      height: 200px; // Adjust size as needed
      border-radius: 50%;
      box-shadow: 0 1px 4px -2px #333;
      text-shadow: 0px -1px #333;
      position: relative;
      overflow: hidden;

      padding: 15px 25px;
      background-color: green; /*for compatibility with older browsers*/
      background-image: linear-gradient(green, lightgreen);

      /* text styles */
      text-decoration: none;
      color: #fff;
      font-size: 25px;
      font-family: sans-serif;
      font-weight: 100;

      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 2px;
        width: calc(100% - 4px);
        height: 50%;
        background: linear-gradient(
          rgba(255, 255, 255, 0.8),
          rgba(255, 255, 255, 0.2)
        );
      }

      &:active {
        box-shadow: 0 1px 2px -2px #333 inset;
        transform: translateY(2px);
      }

      &:hover {
        background: linear-gradient(#073, #0fa);
      }

      .number {
        font-size: 5em; // Adjust font size as needed
        color: #333;
        z-index: 1;
      }

      .label {
        font-size: 1em; // Adjust font size as needed
        color: #333;
        position: absolute;
        bottom: 10px; // Adjust distance from bottom as needed
        z-index: 1;
      }
    }
  }
}
