.simple-form {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 27rem;
  margin: 20px auto;

  .top-container {
    background: #ffffff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .heading {
      text-align: center;
      margin-top: 1rem;

      &:first-of-type {
        margin-top: 0; // Removes margin-top from the first heading
      }

      p {
        font-size: 1.7rem;
        color: #333;
        font-weight: bold;
        letter-spacing: 0.05em;
        margin: 0;
        padding: 0;
        font-family: monospace;
      }
    }

    .display {
      background: slategray;

      border-radius: 5px;
      font-size: 2.7em;
      text-align: right;
      letter-spacing: 1px;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: ghostwhite;
      margin-top: 0.3rem;
      font-family: monospace; // Replace with another monospace font
      padding: 10px; // needs to be exact to match the border

      &:first-of-type {
        margin-bottom: 1rem; // Adds space between the two displays
      }

      &.selected {
        border: 1px solid OrangeRed;
        padding: 9px;
      }
    }
  }

  .control-buttons {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 0 3.2rem;

    button {
      border-radius: 1rem;
      border: 1px solid lightgray;
      padding: 0.125rem 0.5rem;
      font-size: 1.3rem;
      color: slategray;
      cursor: pointer;
      font-family: 'Source Code Pro', monospace;
      font-weight: 600;
      // very subtle light graident as a background
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.9),
        rgba(100, 100, 100, 0.1)
      );
    }
  }

  .bottom-container {
    // background gradient top lightgray, bottom slategray
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(100, 100, 100, 0.1)
    );
    padding: 0.6rem 2.1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .buttons {
      padding: 0 1.1rem;
      .row {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;

        button {
          padding: 0.6rem 2rem;
          margin: 0 0.6rem;
          // Remove left margin for the first button in each row
          &:nth-child(1) {
            margin-left: 0;
          }

          // Remove right margin for the last button in each row
          &:nth-child(3) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .submit-log {
    display: flex;
    justify-content: space-between;
    // center
    align-items: center;
    padding: 1rem 0;
  }

  .complete-set-button {
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 125px;
    box-shadow:
      inset 0 13px 25px rgba(255, 255, 255, 0.5),
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 10px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    position: relative;
    transition: all ease 0.3s;
    width: 100%;

    &:hover {
      box-shadow:
        inset 0 13px 25px rgba(255, 255, 255, 0.8),
        0 3px 5px rgba(0, 0, 0, 0.2),
        0 10px 13px rgba(0, 0, 0, 0.2);
      transform: scale(1.02);
    }

    &:before {
      background: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      border-radius: 125px;
      content: '';
      height: 50px;
      left: 4%;
      position: absolute;
      top: 1px;
      transition: all ease 0.3s;
      width: 92%;
    }

    &-confirm {
      background: #4a90e2;
      border-color: #3672b6;
      color: #fff;
    }

    &-cancel {
      background: #d0d0d0;
      border-color: #b8b8b8;
      color: #6f6f6f;
    }
  }
}
