body {
  background: black;
}

@import 'strengthBar';
@import 'simpleForm';
@import 'tweets';
@import 'set';

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2 columns with equal width
  grid-gap: 20px; // Spacing between grid items
  padding: 20px;

  .grid-item {
    background-size: cover;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    text-decoration: none;
    background: #acdec7;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif; // Apple-like font
    color: #333; // Dark gray for text for readability
    font-size: 1.3rem;
    line-height: 1.9rem; // More readable line height
    position: relative;

    &:after {
      content: '';
      width: 80%;
      height: 40px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      position: absolute;
      top: 0;
      border-radius: 60px;

      span {
        z-index: 999;
        position: relative;
      }
    }
  }
}

.list-container {
  background-size: cover;
  background-image: linear-gradient(
    45deg,
    hsl(270deg 100% 7%) 2%,
    hsl(255deg 9% 34%) 87%,
    hsl(151deg 3% 62%) 98%,
    hsl(104deg 100% 95%) 100%
  );
  .list-box {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .list-box-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #ececec;
    transition: background-color 0.3s;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #f7f7f7;
    }

    &:active {
      background-color: #ececec;
    }

    .item-image {
      width: 50px; // Set your desired image size
      height: 65px;
      margin-right: 1rem;
      //border-radius: 50%; // Circular images
      object-fit: cover;
      display: inline-block;
    }

    .item-text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item-heading {
        margin: 0;
        font-size: 1.3rem;

        a {
          color: #333;
          text-decoration: none;
        }
      }

      .item-description {
        margin: 0.25rem 0 0;
        font-size: 1rem;
        color: #666;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // 100% of the viewport height

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid slategrey; // Slight border for a modern look
    font-family: 'Nabla', sans-serif;
    background: none;
    z-index: 999;

    .left-group {
      display: flex;
      align-items: center;

      .back-button {
        margin-right: 10px; // Adjust spacing as needed
        cursor: pointer;
        border: none;
        background: transparent;
        font-size: 16px;
        display: flex;
        align-items: center;
        padding: 0.6rem 2rem;

        // Icon styling (if using an icon)
        img {
          width: 24px; // Adjust size as needed
          height: auto;
        }
      }

      .title {
        font-size: 2rem;
        color: #333;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    .coins-meter {
      display: flex;
      align-items: center;
      font-size: 18px;
      background: #191c26;
      padding: 3px 13px;
      border-radius: 21px;
      border: 1px solid #162330;

      .coin-graphic {
        margin-right: 5px;
      }

      .coin-count {
        font-weight: 500;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%; // Adjust as needed
    background-size: cover; // Ensures the background image covers the entire div
    background-position: center; // Centers the background image
    flex-grow: 1; // Ensures the content div takes up all remaining space
    background-image: url('/images/body_torso_mobile.png');
    margin-top: -91px;

    .clouds {
      position: relative;

      // target .cloud with data-testid attribute to cloud-1
      .cloud[data-testid='cloud-Chest'] {
        top: 251px;
        left: 170px;
      }

      .cloud[data-testid='cloud-Back'] {
        top: 141px;
        left: 9px;
      }

      .cloud[data-testid='cloud-Core'] {
        top: 341px;
        left: 170px;
      }

      .cloud[data-testid='cloud-Legs'] {
        top: 541px;
        left: 101px;
      }

      .cloud[data-testid='cloud-Shoulders'] {
        top: 211px;
        left: 9px;
      }

      .cloud[data-testid='cloud-Arms'] {
        top: 351px;
        left: 9px;
      }

      .cloud {
        height: 40px;
        width: 161px;
        background: #acdec7;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        box-shadow:
          rgba(0, 0, 0, 0.16) 0 1px 4px,
          rgba(51, 51, 51, 0.6) 0 0 0 3px;
        font-family: 'DotGothic16', sans-serif;
        // vertically center the span
        align-items: center;
        position: fixed;
        cursor: pointer;

        color: #224e58;
        font-size: 1.8rem;
        text-decoration: none;

        span {
          z-index: 999;
          position: relative;
        }

        // create a hover effect that grows the cloud slighty with a nice animation
        // and changes the background to be a darker shade of green
        &:hover {
          background: #8fd1c9;
          transform: scale(1.05);
          transition: all 0.2s ease-in-out;
        }

        &:after {
          content: '';
          width: 158px;
          height: 40px;
          background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          border-radius: 40px;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}

.list-box {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; // Ensures the border-radius is applied to children as well
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aqua-button {
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 125px;
  box-shadow:
    inset 0 13px 25px rgba(255, 255, 255, 0.5),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 10px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  padding: 1.2rem 4rem;
  position: relative;
  transition: all ease 0.3s;
  width: 100%;

  &:active {
    // Reduce the box shadow to give the impression it's being pressed
    box-shadow:
      inset 0 13px 25px rgba(255, 255, 255, 0.5),
      0 2px 4px rgba(0, 0, 0, 0.1); // reduced y-offset and blur for a pressed look
    // Move the button down to simulate a press
    transform: translateY(4px) scale(0.98); // slight scale down for depth
    // Adjust the pseudo-element to match the pressed state
    &:before {
      top: 3px; // slight move down to match the button's movement
    }
  }

  &:before {
    background: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border-radius: 125px;
    content: '';
    height: 50px;
    left: 4%;
    position: absolute;
    top: 1px;
    transition: all ease 0.3s;
    width: 92%;
  }

  &-confirm {
    background: #4a90e2;
    border-color: #3672b6;
    color: #fff;
  }

  &-cancel {
    background: #d0d0d0;
    border-color: #b8b8b8;
    color: #6f6f6f;
  }
}
